.content {
    border: 1px solid #f3f4f5;
    border-bottom: 0;
    border-top: 0;
    max-width: 600px;
    width: 100%;
}
.wrapper {
    display: flex;
}
.logo {
    margin-bottom: 5px;
    margin-top: 20px;
    width: 60px;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.active {
    color: #1da1f2;
}
.menuItem {
    align-items: center;
    border-radius: 40px;
    color: #000;
    display: inline-flex;
    margin-top: 15px;
    padding: 15px 30px 15px 15px;
    text-decoration: none;
    width: fit-content;
}
.icon{
    margin-right: 15px;
}